*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover,
input:hover{
    text-decoration: none;
}

/* Navbar */
#header{
    position: absolute;
    z-index: 9999;
    width: 100%;
}

.navbar{
    padding: 5px 0 5px;
    border-end-end-radius: 3px;
    border-end-start-radius: 3px;
}

.navbar::after{
    height: 212px;
}

.navbar-brand{
    font-weight: 600;
    font-size: 1.5em;
    transition: .2s linear;
}

.navbar-brand:hover,
.navbar-brand{
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-brand:hover{
    opacity: .8;
}

.navbar-dark .navbar-brand, .nav-link{
    color: #dcdde1 !important;
}

.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
    font-size: .8em;
}

.navbar-nav{
    padding: 5px;
    padding-bottom: 0 !important;
    bottom: 0 !important;
    margin-bottom: 0 !important;
}

.nav-link{
    background: none;
    color: #1e741b !important;
    padding-left: 3px !important;
    transition: .3s linear;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover{
    border-radius: 3px;
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* akhir Navbar */

/* Cloud */
.cloud{
    padding-top: 3px;
    text-align: center;
}

.cloud-width{
    padding: 3px 50px;
}

.cloud-class{
    display: inline;
    border: 1px solid grey;
    border-radius: 70px;
    text-transform: uppercase;
    font-weight: 500;
    overflow: hidden;
    cursor: pointer;
    transition: 400ms all linear;
}

.cloud-class:hover{
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 0.5px solid cyan;
}

.cloud-width a{
    color: rgba(0, 0, 0, 0.411);
    transition: 400ms all linear;
    overflow: hidden;
}

.cloud-width a:hover{
    color: cyan;
}
/* akhir Cloud */

/* Kelas X */
.kelas .judul{
    font-weight: bolder;
    margin-bottom: -2px;
}

.kelas .border{
    height: 4px;
    width: 123px;
}

.gallery-section{
    width: 100%;
    padding: 60px 0;
}

.inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.gallery-section .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.gallery-section .image{
    flex: 25%;
    overflow: hidden;
    cursor: zoom-in;
}

.gallery-section .image img{
    width: 100%;
    height: 100%;
    transition: 500ms all;
}

.gallery-section .image:hover img{
    animation: drop 1500ms linear;
}

.tombol-galeri{
    border: 1px solid cyan;
    border-radius: 10px;
    padding: 10px 20px;
    right: 0;
    float: right;
    margin: 15px auto;
    transition: 400ms linear;
    color: #bbb;
}

.tombol-galeri:hover{
    background: cyan;
    color: white;
    text-decoration: none;
}
/* akhir Kelas X */

/* Footer */

footer{
    background: cyan;
    position: absolute;
    min-width: 100%;
}

.row-tentang-ku{
    display: flex;
    flex-wrap: wrap;
}

.copyright{
    flex: 70%;
    padding: 10px 20px;
}

.copyright p{
    margin-top: 13px;
    font-size: 15px;
    font-weight: bolder;
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ikuti-kami{
    flex: 30%;
    float: right;
    padding: 10px 50px;
}

.ikuti-kami h5{
    color: #1e741b;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.ikuti-kami a{
    float: left;
    margin-right: 10px;
}

.ikuti-kami img{
    width: 20px;
    height: 20px;
    transition: 300ms all linear;
}

.ikuti-kami a:hover img{
    transform: scale(1.1,1);
}
/* akhir Footer */





/* Animation */
@keyframes drop{

    0%{
        transform: scale(1.4) rotate(10deg);
    }
    50%{
        transform: scale(1.4) rotate(-10deg);
    }
    100%{
        transform: scale(1.15) rotate(0deg);
    }
    
}




/* Supported on Tablet and Mobile Device */
@media screen and (max-width: 910px) {

    .gallery-section .image{
        flex: 33.33%;
    }

}

@media screen and (max-width: 765px) {

    .navbar-collapse{
        border-radius: 3px;
    }

    .navbar-toggler{
        background: lightskyblue;
        padding: 5px 10px !important;
        color: green !important;
    }

    .cloud-class{
        padding-left: 0.8rem !important;
        padding-right: 0.8rem !important;
    }

    .gallery-section .image{
        flex: 50%;
    }

    .ikuti-kami{
        padding: 10px 30px;
    }

}

@media screen and (max-width: 610px) {

    .navbar-brand,
    .navbar-toggler{
        padding: 5px 15px;
        margin-right: 25px;
        color: black;
    }

    .navbar-toggler{
        background: lightskyblue;
        padding: 5px 10px !important;
        color: green !important;
    }

    .cloud{
        padding-top: 2rem !important;
    }

    .cloud-width{
        padding: 3px 0px !important;
    }

    .cloud-class{
        padding: 0.6rem 0.6rem !important;
        font-size: 17px;
    }

    .copyright,
    .ikuti-kami{
        flex: 100%;
    }

    .ikuti-kami{
        padding: 10px 20px;
    }

}

@media screen and (max-width: 456px) {

    .navbar-brand{
        font-size: 20px;
    }

    .navbar-toggler{
        padding: 1px 1px !important;
    }

    .cloud{
        padding-top: 1rem !important;
    }

    .cloud-width{
        padding: 3px 0px !important;
    }

    .cloud-class{
        padding: 0.5rem 0.5rem !important;
        font-size: 11px;
    }

    .gallery-section .image{
        flex: 100%;
    }

    .tombol-galeri{
        padding: 7px 12px;
    }

    .copyright p{
        font-size: 12px !important;
    }

    .ikuti-kami h5{
        font-size: 15px;
    }

    .copyright,
    .ikuti-kami{
        padding:2px 10px;
    }

}