*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* Navbar */
#header{
    position: absolute;
    z-index: 9999;
    width: 100%;
}

.navbar{
    padding: 5px 0 5px;
    border-end-end-radius: 3px;
    border-end-start-radius: 3px;
}

.navbar::after{
    height: 212px;
}

.navbar-brand{
    font-weight: 600;
    font-size: 1.5em;
    transition: .2s linear;
}

.navbar-brand:hover,
.navbar-brand{
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-brand:hover{
    opacity: .8;
}

.navbar-dark .navbar-brand, .nav-link{
    color: #dcdde1 !important;
}

.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
    font-size: .8em;
}

.navbar-nav{
    padding: 5px;
    padding-bottom: 0 !important;
    bottom: 0 !important;
    margin-bottom: 0 !important;
}

.nav-link{
    background: none;
    color: #1e741b !important;
    padding-left: 3px !important;
    transition: .3s linear;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover{
    border-radius: 3px;
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* akhir Navbar */

/* Section Kiri */
.display{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sesi-kiri{
    float: left !important;
    display: block !important;
    background: #ddd;
    padding-top: 30px;
    margin-top: 35px;
    height: 4885px !important;
    border-right: 1px solid rgba(0, 0, 0, 0.534) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.534) !important;
    width: 23%;
}

.bar{
    display: block;
    margin-top: 20px;
}

.bar .menu{
    padding: 5px 5px;
    width: 123px;
    transition: 450ms all linear;
}

.bar .menu:hover{
    background: skyblue;
    border-radius: 5px;
    width: 100%;
    padding-left: 20px !important;
}

#bu{
    padding: 0 !important;
}

hr{
    margin: -1px auto 3px auto;
}

.bar .menu .sub-menu{
    width: 100% !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    padding: 5px 5px !important;
    margin: 5px auto !important;
    color: gray;
    transition: 450ms all linear;
}

.bar .menu:hover .sub-menu{
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
    border-radius: 5px;
}
/* akhir Section Kiri */

/* Section Kanan */

/* Profil */
.display{
    display: flex;
    flex-flow: column;
    padding: 30px 5px;
}

.sesi-kanan{
    overflow: hidden;
    width: 75%;
    margin-left: 25%;
}

.bagian{  
    margin-top: 35px;
}

/* Personal Name Card */
.added{
    margin-right: 55px !important;
}

.card{
    width: 234px;
    min-height: 85vh;
    padding: 10px;
    background: white;
    overflow: hidden;
    display: inline-flex;
    text-align: center;
    border-radius: 4px;
    box-shadow: 1px 1px 12px black;
}

.pop{
    background: skyblue;
    color: white;
    transform: rotate(45deg);
    padding: 5px 40px;
    position: absolute;
    width: 80%;
    top: 10px;
    right: -45px;
}

.image{
    width: 123px;
    height: 123px;
    overflow: hidden;
    border: 2px solid #444;
    border-radius: 50%;
    margin: 20px auto;
}

.image img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

img[alt]{
    line-height: 115px;
}

h1{
    color: #e74c3c;
    margin: 5px 0 0 0;
    font-size: 20px;
    text-transform: uppercase;
}

span{
    font-weight: 500;
    font-size: 16px;
}

p{
    text-align: justify;
    margin: 10px auto 30px;
    font-size: 13px;
}

.tombol-ku{
    padding: 5px 10px;
    right: 0;
    bottom: 0;
    margin: auto 20px 70px 0;
    position: absolute;
    border: 1px solid skyblue;
    border-radius: 10px;
    color: skyblue;
    text-decoration: none !important;
    transition: 500ms all;
}

.tombol-ku:hover{
    /* border: none; */
    color: white;
    background: skyblue;
    
}

.media a{
    width: 40px;
    font-size: 30px;
    display: inline-block;
    margin: 40px 13px 0 13px;
    padding: 2px;
    transition: .3s all;
}

.fb{
    color: #4862ae;
}

.fb:hover{
    background: #4862ae;
    color: white;
    border-radius: 50%;
}

.ig{
    color: rgb(163, 15, 15);
}

.ig:hover{
    background: rgb(163, 15, 15);
    color: white;
    border-radius: 50%;
}

.wa{
    color: #01924b;
}

.wa:hover{
    background: #01924b;
    color: white;
    border-radius: 50%;
}

.modal-body .col-md-12 img{
    width: 100%;
    height: 65%;
    border-radius: 1%;
}

.table-borderless{
    margin-top: -10rem;
    text-align: left;
}

.modal-footer{
    margin-bottom: 1.5rem;
}
/* akhir Personal Name Card */

/* akhir Section Kanan */


/* Footer */

footer{
    background: cyan;
    position: absolute;
    min-width: 100%;
    margin-top: -10px;;
}

.row-tentang-ku{
    display: flex;
    flex-wrap: wrap;
}

.copyright{
    flex: 70%;
    padding: 25px 20px;
}

.copyright p{
    margin-top: 15px;
    font-size: 15px;
    font-weight: bolder;
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ikuti-kami{
    flex: 30%;
    float: right;
    padding: 25px 50px;
}

.ikuti-kami h5{
    color: #1e741b;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.ikuti-kami a{
    float: left;
    margin-right: 10px;
}

.ikuti-kami img{
    width: 20px;
    height: 20px;
    transition: 300ms all linear;
}

.ikuti-kami a:hover img{
    transform: scale(1.1,1);
}
/* akhir Footer */





/* Animation */

@keyframes fade{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}



/* Supported on Tablet and Mobile Device */
@media screen and (max-width: 700px) {

    .sesi-kiri{
        height: 4600px !important;
    }

}

@media screen and (max-width: 765px) {

    .navbar-collapse{
        border-radius: 3px;
    }

    .navbar-toggler{
        background: lightskyblue;
        padding: 5px 10px !important;
        color: green !important;
    }

    .sesi-kiri{
        width: 21%;
        padding: auto 0 !important;
        height: 8888px !important;
    }

    .bar{
        margin-top: 15px;
        margin-left: -10px;
    }

    .bar .menu .sub-menu{
        font-size: 12px;
        font-weight: 700;
        padding: 6px 2px;
    }

    .card{
        width: 96%;
        margin-left: -1px;
    }

    .pop{
        top: -25px;
        right: -85px;
    }

    .tombol-ku{
        margin-bottom: 100px;
    }

    .media{
        margin-left: 45px !important;
    }

    .media a{
        margin-right: 16%;
    }

    .modal-body .col-md-12 img{
        width: 100% !important;
        height: 65%;
        border-radius: 1%;
    }

    .ikuti-kami{
        padding: 25px 30px;
    }

}

@media screen and (max-width: 654px) {

    .navbar-brand,
    .navbar-toggler{
        padding: 5px 15px;
        margin-right: 25px;
        color: black;
    }

    .navbar-toggler{
        background: lightskyblue;
        padding: 5px 10px !important;
        color: green !important;
    }

    .sesi-kiri{
        width: 20% !important;
        position: fixed;
    }

    .bar{
        margin-left: -10px;
    }


    .bar .menu .sub-menu{
        font-size: 10px !important;
        font-weight: 700;
        padding: 0 2px;
    }

    .bar .menu{
        padding: 0;
        width: 100%;
    }
    
    .bar .menu:hover{
        background: none;
        border-radius: 3px;
        width: 100%;
        padding-left: 7.5px !important;
    }

    .sesi-kanan{
        overflow: hidden;
        margin-left: 22% !important;
    }

    .pop{
        top: -25px;
        right: -65px;
    }

    h1{
        font-size: 18px;
    }

    span{
        font-size: 14px;
    }

    p{
        font-size: 12px;
        margin-bottom: 55px;
    }

    .tombol-ku{
        padding: 3px 5px;
        margin: auto 20px 110px 0;
    }

    .media a{
        margin-left: 20px;
    }

    .table-borderless{
        margin-top: -5rem;
    }

    .table-borderless tr,
    .modal-footer button{
        font-size: 1rem !important;
    }

    .modal-title{
        font-size: 1.5rem !important;
    }

    .copyright,
    .ikuti-kami{
        flex: 100%;
    }

    .ikuti-kami{
        margin-top: -100px !important;
    }

    .copyright p{
        font-size: 12px !important;
        padding: 0 !important;
        margin-top: 0;
    }

    .ikuti-kami h5{
        padding: 0 !important;
        font-size: 15px;
    } 

}

@media screen and (max-width: 456px) {

    .navbar-brand{
        font-size: 20px;
    }

    .navbar-toggler{
        padding: 1px 1px !important;
    }

    .sesi-kiri{
        width: 28% !important;
    }

    .bar{
        margin-top: 5px;
    }

    .bar .menu{
        padding: 0;
        margin-left: -5px !important;
        width: 65px;
    }

    .bar .menu:hover{
        padding-left: 5px !important;
    }

    .bar .menu .sub-menu{
        font-size: 8px !important;
        font-weight: 500 !important;
        padding: 0;
    }

    .sesi-kanan{
        overflow: hidden;
        /* position: absolute; */
        margin-left: 32% !important;
        width: 65%;
    }

    .pop{
        padding: 2px 40px;
        font-size: 12px;
        top: 10px;
        right: -50px;
    }

    h1{
        font-size: 15px;
    }

    span{
        font-size: 13px;
    }

    p{
        font-size: 11px;
        margin-bottom: 35px;
    }

    .tombol-ku{
        margin-bottom: 50px;
    }
    
    .media a{
        margin-left: -12px;
        margin-top: -15px;
        font-size: 20px;
    }

    .table-borderless tr,
    .modal-footer .btn{
        font-size: .7rem !important;
    }

    .modal-title{
        font-size: 1.3rem !important;
    }

    .modal-footer{
        /* margin-bottom: 1.5rem !important; */
    }

    .copyright p{
        font-size: 12px !important;
    }

    .ikuti-kami{
        margin-top: -45px !important;
    }

    h5{
        position: absolute;
        font-size: 10px !important;
        margin-top: -7px !important;
    }

    .copyright,
    .ikuti-kami{
        padding: 10px 10px;
        bottom: 0;
    }

    .ikuti-kami img{
        width: 10px;
        height: 10px;
        /* margin-top: -25px; */
        transition: 300ms all linear;
    }

}
